<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Songs List</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">
  {{>header}}
  
  <main>
    <h1>{{ title }}</h1>
  </main>
  
  <form action="/songs/new" method="POST">
    <label for="song-title"></label>
    <input type="text" name="title" id="input-title" placeholder="Song Title">
    <button type="submit" class="new-page-btn input-song">Add</button>
    <a class="new-page-btn back" href="/songs/">Song List</a>
  </form>
  
  {{>footer}}
  </div>  

</body>
</html>