<header>
  <nav class="navbar">
    <div class="nav-container">
      <img src="../img/ayu-logo-1.png" alt="logo image" class="logo">
      <ul class="navbar-right">
        <li class="navbar-list"><a href="/">Home</a></li>
        <li class="navbar-list"><a href="/songs">Songs</a></li>
      </ul>
    </div>
  </nav>
</header>